[color]
    ui = auto
[status]
    showUntrackedFiles = all
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    ps = push
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    qlog = log -5 --pretty --oneline
    wow = log --all --graph --decorate --oneline --simplify-by-decoration
[diff]
	tool = nvimdiff
[core]
	editor = nvim
[include]
  path = .gitconfig.user
