! ~/.xresources

! Theme
#include "/home/novakane/aize/xresources/aize"

! URXVT

URxvt.font: 9x15
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xcursor.theme: capitaine-cursors
! Xcursor.size:  0
URxvt.depth: 32
URxvt*scrollBar:                      false
URxvt*mouseWheelScrollPage:           false
URxvt*cursorBlink:                    true
URxvt*saveLines:                      5000
URxvt.internalBorder:  10

! for 'fake' transparency (without Compton) uncomment the following three lines
! URxvt*inheritPixmap:                  true
! URxvt*transparent:                    true
! URxvt*shading:                        138
